
@font-face {
    font-family: 'Museo500';
    src: url('/assets/Museo500-Regular-webfont.woff2') format('woff2'),
         url('/assets/Museo500-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5{
    font-family:'Museo500','Helvetica Neue','Arial','sans-serif';
}


input,textarea{width:100%;display:block;margin-left: -13px;}



.container {
    overflow: hidden;
  }
  
  .sliding-background {
      z-index:0;
      position:fixed;
      top:0px;
      opacity:0.2;
    /* background: url("/assets/clouds-bg.png") repeat-x; */
    height: 701px;
    width: 5076px;
    /* animation: slide 60s linear infinite; */
  }

  .home{
    
      max-width:480px;
      margin:auto;
      position:relative;
      z-index:9;
  }

  .title{
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
    /* color:#e64e4e; */
    color: #ffbdf0;
    font-size: 15px;
    margin: auto;
    /* width: 800px; */
    /* position: fixed;
    top: 45%;
    height: 100px;
    transform: translate(-50%,-50%);
    left: 50%; */
    transition:all .1s ease-in;
    text-align: center;
  }

 

  @media only screen and (min-width: 500px) {
    .title{
        font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
        /* color: #e64e4e; */
        color:#ffbdf0;
        font-size: 45px;
        margin: auto;
        width: 800px;
        transition:all 1.25s ease-out;
        /* position: fixed;
        top: 35%;
        height: 180px;
        transform: translate(-50%,-50%); */
        /* left: 50%; */
        text-align: center;
       
      }
}

#home-header{
    height:410px;
    /* opacity:0; */
}


.info{
    max-width: 620px;
    margin: auto;
    font-size: 28px;
    color: white;
    line-height: 180%;
}

.info a,a:visited,a:active{
    color:yellow;
}
  

.more_info_container{
    text-align:center;
   width:100%;
   position:absolute;
   bottom:15px;
    margin:auto;
}

#more_info{
    max-width:200px;
}

.more_info_container a{
    color:white;
    text-decoration:none;
    font-size:24px;
}


.more_info_container a:hover{
    color:white;
    text-decoration:underline;
    font-size:24px;
}

#left_side p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
}
 
hr{
border-style: dashed;
}
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }

  @keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,-30%,0) scale3d(1,1,1);}
    100% {transform: translate3d(0,-40%,0) scale3d(1,1,1);}
  }
  .jump {
    transform-origin: 50% 50%;
    animation: jump .8s ease-in-out alternate infinite;
  }

  .jump2 {
    transform-origin: 50% 50%;
    animation: jump .82s ease-in-out alternate infinite;
  }
  

  body{
    /* background-color:#ff5d5d; */
  }


#button_container{
    text-align:center;
    position: relative;
    margin-top: 80%;
    width: 300px;

}



#bunny2{
    position: relative;
    /* margin-top: 50px; */
    transform: translateY(60px);
    transform: translate(-50px,60px);
}

.button1{

    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    border:2px solid white;
    border-radius:5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin:10px;

}
.button1:hover{
 color:red;
 background-color:#FFFFFF;
}


#login_container{
    max-width: 300px;
    margin: auto;
 margin-top:80%;
  display:none;
  opacity:0;

}

#registration_container{
    max-width: 300px;
    margin: auto;
    margin-top:50%;
    /* padding: 20px 20px; */
    display:none;
    opacity:0;

}

.hide{
    display:none;
} 

 .show{
    display:block !important;
}


label{
    text-align:left;
    font-size:18px;
}

form{
    text-align:left;
}


.buttons-form-container{
    text-align: center;
    margin-top: 10px;
}


.registration-form .form_error{
    font-size:18px !important;
    font-weight:bold !important;
    float:right;
}


#login_container .form-error{
    font-size:18px;
    font-weight:bold;
    
    }

    #left_side{
        float:left;
        max-width:400px;
    }

    #left_side h1{
        margin:0px;
        text-align:left;
        font-size:80px
    }
    
    #right_side{
        float: right;
        max-width: 400px;
        color:white !important;
    }

    .title img{
        /* width:50px; */
        width:190px;
        margin:4px;
    }

    .word_container h3 {
        margin-top: -3%;
        margin: 0;
        font-size: 140px;
        color: white;
    }

    .scroll_indicator{
        display:none;
    }

    .scroll_indicator2{
        display:block;

        
    }

    .speech-bubble{
        margin-left: 150px;
        margin-top:-60px;
        position: absolute;
        width: 60px;
    }
    
    .speech-bubble img{
        width:100% !important;
    }


  @media only screen and (min-width: 1500px) {

    .speech-bubble{
        margin-left: 300px;
        position: absolute;
        margin-top:0px;
        width: 100px;
    }
    
    .speech-bubble img{
        width:100% !important;
    }

    .hero__scroll{
        margin: 0 -70px 0 0 !important;
        padding: 0 0 0 40px !important;
        top: 66% !important;
    }
    .scroll_indicator{
        display:block;
    }

    .scroll_indicator2{
        display:none;
    }

    #left_side h1{
        margin:0px;
        text-align:left;
        font-size:100px
    }

    .title img{
        /* width:50px; */
        width:200px;
        margin:4px;
    }

    .word_container h3 {
        margin-top: -3%;
        margin: 0;
        font-size: 160px;
        color: white;
    }

    #login_container{
      
            margin-top: 120px !important;
    }

    #button_container{
        margin-top: 50%;
    }

    #registration_container{
        margin-top: 30px;
    }

    #login_container{

    }
        
    

  }




  .dashboard{
    /* max-width:500px; */
    margin:auto;
}

.hero__scroll:before {
    width: 60px;
    height: 1px;
    top: 10px;
    left: 0
}

.hero__scroll:after {
    width: 30px;
    height: 3px;
    top: 9px;
    left: 30px;
    animation: bounce 1s infinite linear
}

@keyframes bounceY {
    30% {
        transform: translate(0, -3px)
    }
    50% {
        transform: translate(0, 0)
    }
    70% {
        transform: translate(0, 3px)
    }
}

@keyframes bounce {
    30% {
        transform: translate(-3px, 0)
    }
    50% {
        transform: translate(0, 0)
    }
    70% {
        transform: translate(3px, 0)
    }
}

.hero__scroll:after,
.hero__scroll:before {
    display: block;
    position: absolute;
    content: '';
    background: #fff
}


.hero__scroll {
    color: #fff;
    width: 140px;
    height: 20px;
    position: absolute;
    margin: 0 -70px 0 0;
    padding: 0 0 0 70px;
    font-size: 16px;
    line-height: 20px;
    top: 56%;
    right: 20px;
    z-index: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


@media only screen and (max-width: 450px) {
    #left_side h1 {
        margin: 0px;
        text-align: center !important;
        font-size: 50px !important;
    }

    #bunny2{
        transform:none;
    }

    #bunny2 img{
        width:80px;
    }

    hr{
       width:80%;
    }

    #right_side{
        float:none;
        margin-top:0;
    }

    #button_container {
        margin-top:0;
        width:100%;
    }

    #left_side p {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin: 23px;
        text-align:center;
    }

    .hero__scroll{
      
        margin: 0 -100px 0 0 !important;
        top: 86%;
    }
    #home-header {
        height:auto;
    }
    
    #login_container {
        max-width: 300px;
        margin-top:0 !important;
    }

    #registration_container {
        max-width: 300px;
        margin-top:0 !important;
    }

    .info p{
        margin: 27px;
    font-size: 23px;
    line-height: 180%;
    }

    .info h2{
        margin:0px 25px;
    }
    .info hr{
        display:none;
    }

    .fp-controlArrow {
        display:none;
    }


  }
